    <div class="container-fluid" id="footer">
        <span class="pull-left">
            <a href="https://www.facebook.com/SapphireGoldens"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href=mailto:"SapphireGoldens@comcast.net"><i class="fa fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </span>
        <span class="pull-right">
            Developed by Travis Tatro
        </span>
    </div>
</div>

</body>
</html>