<div ng-repeat="sapphire in sapphires" ng-model="sapphire">
    <div class="container">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-xs-7 col-md-6">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>{{sapphire.mainTitle}}</h3>
                        <p>Founded in 1994 and proudly serving South Eastern Massachusetts</p>
                    </div>
                </div>
                <div class="col-xs-5 col-md-5 col-md-offset-1">
                    <img class="img img-responsive pull-right" ng-src="/public/images/sapphire_logo.png">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img img-responsive" ng-src="/public/images/sapphire_main2.jpg">
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <h3>Our Story</h3>
                        <hr>
                        <p class="story" ng-repeat="story in sapphire.story">{{story}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4">
                    <a href="https://www.grca.org/"><img class="club img img-responsive" ng-src="{{ sapphire.grca }}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4">
                    <a href="http://yankeegrc.azurewebsites.net/"><img class="club img img-responsive" ng-src="{{ sapphire.ygrc }}"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4">
                    <a href="http://www.akc.org/"><img class="club img img-responsive" ng-src="{{ sapphire.akc }}"></a>
                </div>
            </div>
        </div>
    </div>
</div>