<div class="col-md-8 col-md-offset-2">
    <form name="goldenForm">
        <h2 ng-if="new">New Golden</h2>
        <h2 ng-if="edit">Edit Golden</h2>
    
        <div class="form-group">
            <label>Name</label>
            <input ng-model="golden.name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Image Url</label>
            <input ng-model="golden.url" type="text" class="form-control" placeholder="Url">
        </div>
        <div class="form-group">
            Golden Type
            <select ng-model="golden.gender" class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Litter</option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input ng-model="golden.description" type="text" class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
            <label>Birthdate</label>
            <input ng-model="golden.birthdate" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Whelped</label>
            <input ng-model="golden.whelpedDate" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input ng-model="golden.imageFile" type="file" class="form-control">
        </div>
        <div>
            <button ng-if="new" ng-click="saveGolden()" class="btn btn-primary">Submit</button>
            <button ng-if="edit" ng-click="updateGolden()" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>