<div class="col-md-8 col-md-offset-2">
    <form name="goldenForm">
        <h2 ng-if="new">New Golden</h2>
        <h2 ng-if="edit">Edit Golden</h2>
    
        <div class="form-group">
            <label>Name</label>
            <input ng-model="golden.name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Image Url</label>
            <input ng-model="golden.url" type="text" class="form-control" placeholder="Url">
        </div>
        <div class="form-group">
            Golden Type
            <select ng-model="golden.type" class="form-control">
                <option>Mother</option>
                <option>Father</option>
                <option>Litter</option>
                <option>Bragging Rights</option>
                <option>Retired</option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input ng-model="golden.description" type="text" class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
            <label>Birthdate</label>
            <input ng-model="golden.birthdate" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>K9 Data Link</label>
            <input ng-model="golden.k9data" type="text" class="form-control" placeholder="K9 Data">
        </div>
        <div class="form-group">
            <label>Pedigree</label>
            <input ng-model="golden.pedigree" type="text" class="form-control" placeholder="Pedigree">
        </div>
        <div class="form-group">
            <label>Clearances</label>
            <input ng-model="golden.clearances" type="text" class="form-control" placeholder="Clearances">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input ng-model="golden.imageFile" type="file" class="form-control">
        </div>
        <div ng-if="new" class="form-group">
            <input type="submit" value="Submit" ng-click="saveGolden()" class="btn btn-primary">
        </div>
        <div ng-if="edit" class="form-group">
            <input type="submit" value="Update" ng-click="updateGolden()" class="btn btn-primary">
        </div>
    </form>
</div>