<div class="container">
  <h4>Goldens
    <a ui-sref="goldensNew" href="" class="btn btn-primary pull-right">New</a>
    <a ui-sref="goldensDashboardIndex" href="" class="btn btn-primary pull-right">Index</a>
  </h4>
  <hr>
  <ui-view></ui-view>
</div>