<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tr ng-repeat="golden in goldens" ui-sref="goldensShow({id: golden._id})">
            <td>{{golden.name}}</td>
            <td>{{golden.indexType}}</td>
            <td>{{golden.dateCreated | date:'MM-dd-yyyy'}}</td>
        </tr>
    </table>
</div>