<div class="container">
    <div class="content-panel">
        <div class="row">
            <div class="col-xs-9 col-md-10">
                <div class="container-fluid">
                    <div class="col-md-6 col-md-offset-2">
                        <h1>Our Goldens</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-2">
                <img ng-src="/public/images/sapphire_diamond.jpg" class="img img-responsive pull-right">
            </div>
        </div>
    </div>
    
    <div class="content-panel">
        <div class="container-fluid">
            <ui-view></ui-view>    
        </div>
    </div>    
</div>
