<div class="container">
    <div class="container panel panel-body">
        <h1>Our Goldens</h1>
    </div>
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="goldensIndex">Goldens</a></li>
        <li ng-show="user" class="breadcrumb-item"><a ui-sref="goldensNew">New Golden</a></li>
    </ol>
    
    <div class="panel panel-body">
        <ui-view></ui-view>
    </div>    
</div>