<div class="container">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="col-md-6 col-md-offset-2">
                        <h1>Our Goldens</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img ng-src="/public/images/sapphire_diamond.jpg" class="img img-responsive pull-right">
            </div>
        </div>
    </div>
    
    <ol ng-show="user" class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="goldensIndex">Goldens</a></li>
        <li class="breadcrumb-item"><a ui-sref="goldensNew">New Golden</a></li>
    </ol>
    
    <div class="panel panel-body">
        <div class="container-fluid">
            <ui-view></ui-view>    
        </div>
    </div>    
</div>
