<div class="container">
    <div class="container panel panel-body">
        <h1>Our Goldens</h1>
        <a ui-sref="goldensIndex" class="btn btn-primary">Goldens</a>
        <a ui-sref="goldensNew" class="btn btn-primary">Add Golden</a>
    </div>
    
    <ui-view></ui-view>
</div>