<div class="row">
    <div class="col-md-4" ng-repeat="golden in goldens">
        <div class="panel">
            <div class="panel-header"></div>
            <div class="panel-body">
                {{golden.name}}
                <a ui-sref="goldensShow({id: golden._id})" ><img class="img img-responsive" ng-src={{golden.url}}></a>
            </div>
        </div>
    </div>
</div>