<div class="container">
    <a class="btn btn-primary" role="button" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
</div>

<div class="collapse" id="search">
    <div class="form-inline">
        <div class="form-group">
            <input ng-model="search.$" class="form-control" placeholder="Free Text Search"></input>
            <select ng-model="search.type" class="form-control">
                <option>Mother</option>
                <option>Father</option>
                <option>Litter</option>
                <option>Bragging Rights</option>
                <option>Retired</option>
            </select>
            <button class="btn btn-primary" ng-click="clearData()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div class="container-fluid goldens-container">
    <div ng-repeat="golden in goldens | filter:search:strict">
        <div class="row" ng-if="$index % 3 == 0">
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index]._id})">{{goldens[$index].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index]._id})" ><img class="golden-image img img-responsive" ng-src={{goldens[$index].url}}></a>
            </div>
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index+1]._id})">{{goldens[$index+1].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index+1]._id})" ><img class="golden-image img img-responsive" ng-src={{goldens[$index+1].url}}></a>
            </div>
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index+2]._id})">{{goldens[$index+2].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index+2]._id})" ><img class="golden-image img img-responsive" ng-src={{goldens[$index+2].url}}></a>
            </div>
        </div>
    </div>
</div>