<div>
    <label>Text Search: 
        <input ng-model="search.$" class="form-control"></input>
    </label>
    <label>Category Search
            <select ng-model="search.type" class="form-control">
                <option>Mother</option>
                <option>Father</option>
                <option>Litter</option>
                <option>Bragging Rights</option>
                <option>Retired</option>
                <option></option>
            </select>
    </label>

    <a href="" ng-click="clearData()"><i class="fa fa-times" aria-hidden="true"></i></a>
</div>

<div class="container-fluid">
    <div ng-repeat="golden in goldens | filter:search:strict">
        <div class="row" ng-if="$index % 3 == 0">
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index]._id})">{{goldens[$index].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index]._id})" ><img class="img img-responsive" ng-src={{goldens[$index].url}}></a>
            </div>
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index+1]._id})">{{goldens[$index+1].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index+1]._id})" ><img class="img img-responsive" ng-src={{goldens[$index+1].url}}></a>
            </div>
            <div class="col-md-4">
                <a ui-sref="goldensShow({id: goldens[$index+2]._id})">{{goldens[$index+2].name}}</a>
                <a ui-sref="goldensShow({id: goldens[$index+2]._id})" ><img class="img img-responsive" ng-src={{goldens[$index+2].url}}></a>
            </div>
        </div>
    </div>
</div>