<div class="row search-bar">
    <div class="col-md-1">
        <div class="container-fluid">
            <div class="form-inline">
                <button class="btn btn-primary btn-lg" role="button" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>  
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <div class="collapse" id="search">
            <div class="form-inline">
                <div class="form-group">
                    <input ng-model="search.$" class="form-control" placeholder="Free Text Search"></input>
                    <select ng-model="search.type" ng-options="type for type in types" class="form-control">
                    </select>
                    <button class="btn btn-primary" ng-click="clearData()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid goldens-container">
    <div class="row">
        <div ng-repeat="golden in goldens | filter:search:strict | orderBy:'dateCreated'">
            <div class="col-md-4 golden-block">
                <a ui-sref="goldensShow({id: golden._id})">{{golden.name}}</a>
                <a ui-sref="goldensShow({id: golden._id})" ><img class="golden-image img img-responsive" ng-src={{golden.url}}></a>
            </div>
        </div>
    </div>
</div>