<div class="row">
	<div class="col-md-4" ng-repeat="golden in goldens">
		<div class="panel-body">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{golden.type._id}}">
				{{golden.type.type}}
				<img class="img img-responsive img-rounded golden-image" ng-src="{{golden.displayImage.rawImageData}}">
			</button>
			<golden-modal type="golden.type" typedGoldens="golden.typedGoldens"></golden-modal>
		</div>
	</div>
</div>
