<div class="col-md-8 col-md-offset-2">
    <h4>View Golden</h4>
    <span class="pull-right">
        <a ui-sref="goldensEdit({id: golden._id})" class="btn btn-primary btn-xs">Edit</a>
        <a ng-click="deleteGolden()" class="btn btn-primary btn-xs">Delete</a>
    </span>

    <div class="form-group">
        <label>Name</label>
        <input ng-model="golden.name" type="text" class="form-control" readonly>
    </div>
    <fieldset disabled>
        <div class="form-group">
            Golden Type
            <select class="form-control" readonly>
                <option>Male</option>
                <option>Female</option>
                <option>Litter</option>
            </select>
        </div>
    </fieldset>
    <div class="form-group">
        <label>Description</label>
        <input ng-model="golden.description" type="text" class="form-control" readonly
    </div>
    <div class="form-group">
        <label>Birthdate</label>
        <input ng-model="golden.birthdate" type="date" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label>Whelped</label>
        <input ng-model="golden.whelpedDate" type="date" class="form-control" readonly>
    </div>
</div>