<div class="panel panel-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{type}}
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <img class="img img-responsive thumbnail pull-left" ng-src="public/images/sapphire19.png">
                    </div>
                    <div class="col-md-4">
                        <img class="img img-responsive thumbnail pull-left" ng-src="public/images/sapphire19.png">
                    </div>
                    <div class="col-md-4">
                        <img class="img img-responsive thumbnail pull-left" ng-src="public/images/sapphire19.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

