<div class="col-md-8 col-md-offset-2">
    <h4>
        {{golden.name}}
        <span class="pull-right">
            <a ui-sref="goldensIndex">Back to Goldens</a>
        </span>
    </h4>
    <img class="img img-responsive" ng-src="{{golden.url}}">
    <h5>Description: {{golden.description}}</h5>
    <h5>Type: {{golden.type}}</h5>
    <h5>Born: {{golden.birthdate | date:'MM-dd-yyyy'}}</h5>
    <span ng-show="user" class="pull-right">
        <a ui-sref="goldensEdit({id: golden._id})" class="btn btn-primary btn-xs">Edit</a>
        <a ng-click="deleteGolden()" class="btn btn-primary btn-xs">Delete</a>
    </span>
</div>