<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <span ng-show="user" class="pull-left">
            <a ui-sref="goldensEdit({id: golden._id})" class="btn btn-primary btn-xs">Edit</a>
            <a ng-click="deleteGolden(golden)" class="btn btn-primary btn-xs">Delete</a>
        </span>
        <span class="pull-right">
            <a ui-sref="goldensDashboardIndex">Back to Goldens</a>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{golden.name}}
            </div>
            <div class="panel-body">
                <img ng-repeat="image in imageFiles" class="golden-show-image img img-responsive" ng-if="$first" ng-src="{{image.rawImageData}}">
                <p ng-show="golden.description">Description: {{golden.description}}</p>
                <p ng-show="golden.type" >Type: {{golden.type}}</p>
                <p ng-show="golden.birthdate">Born: {{golden.birthdate | date:'MM-dd-yyyy'}}</p>
            </div>
            <div ng-repeat="image in golden.images" class="col-md-3">
                <img class="img img-responsive" src="{{image}}">
            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div ng-show="golden.k9data" class="col-sm-4 text-center"><a href="{{golden.k9data}}"><span>K9 Data<i class="fa fa-file-text-o" aria-hidden="true"></i></span></a></div>
                    <div ng-show="golden.pedigree" class="col-sm-4 text-center"><a href="{{golden.pedigree}}"><span>Pedigree<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a></div>
                    <div ng-show="golden.clearances" class="col-sm-4 text-center"><a href="{{golden.clearances}}"><span>Clearances<i class="fa fa-heart" aria-hidden="true"></i></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>