<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <span ng-show="user" class="pull-left">
            <a ui-sref="goldensEdit({id: golden._id})" class="btn btn-primary btn-xs">Edit</a>
            <a ng-click="deleteGolden(golden)" class="btn btn-primary btn-xs">Delete</a>
        </span>
        <span class="pull-right">
            <a ui-sref="goldensIndex">Back to Goldens</a>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{golden.name}}
            </div>
            <div class="panel-body">
                <img class="golden-show-image img img-responsive" ng-src="{{golden.imageFiles[0]}}">
                <p ng-show="golden.description">Description: {{golden.description}}</p>
                <p ng-show="golden.type" >Type: {{golden.type}}</p>
                <p ng-show="golden.birthdate">Born: {{golden.birthdate | date:'MM-dd-yyyy'}}</p>
            </div>
            <div ng-repeat="image in golden.imageFiles" class="col-md-3">
                <img class="img img-responsive" src="{{image}}">
            </div>
            <div class="panel-footer">
                <div class="row text-center">
                    <div ng-show="golden.k9data" class="col-sm-4"><a href="{{golden.k9data}}"><span>K9 Data<i class="fa fa-file-text-o" aria-hidden="true"></i></span></a></div>
                    <div ng-show="golden.pedigree" class="col-sm-4"><a href="{{golden.pedigree}}"><span>Pedigree<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a></div>
                    <div ng-show="golden.clearances" class="col-sm-4"><a href="{{golden.clearances}}"><span>Clearances<i class="fa fa-heart" aria-hidden="true"></i></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid goldens-container">
    <h4 ng-if="goldens.length > 1">Other Photos of {{golden.name}}</h4>
    <div class="row">
        <div ng-repeat="gold in goldens | filter: '!' + golden._id | orderBy:'dateCreated'">
            <div class="col-md-4 golden-block">
                <a ui-sref="goldensShow({id: gold._id})" ><img class="gold-image img img-responsive" ng-src={{gold.url}}></a>
            </div>
        </div>
    </div>
</div>