<!DOCTYPE html>
<html ng-app="goldenApp">
<head>
    <title>Sapphire Goldens</title>
    
    <!-- Scripts -->
    <script src="https://use.fontawesome.com/ca54aad6a2.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/index.js"></script>
    
    <!-- StyleSheets -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="content">
        <div class="view">
            <div ng-view></div>
        </div>
    </div>
    
</body>
</html>