<% include ./partials/header %>

<div class="container-fluid" id="main-content">
    <div class="row">
        <div class="col-md-7">
            <h1>Welcome to Sapphire Goldens</h1>
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-md-5">
            <img class="img-responsive thumbnail" src="http://www.sapphiregoldens.com/sapphire_golden_retrievers014001.jpg">
        </div>
    </div>
</div>

<% include ./partials/footer %>