<!DOCTYPE html>
<html ng-app="goldenApp">
    <head>
        <title>Sapphire Goldens</title>
        
        <!-- Scripts -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="/bower_components/angular-momentjs/angular-momentjs.min.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        
        <!--Individual Scripts for Each Module-->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers.js"></script>
        <script src="/scripts/directives.js"></script>
        <script src="/scripts/agreement/services.js"></script>
        <script src="/scripts/agreement/controllers.js"></script>
        <script src="/scripts/application/services.js"></script>
        <script src="/scripts/application/controllers.js"></script>
        <script src="/scripts/goldens/services.js"></script>
        <script src="/scripts/goldens/controllers.js"></script>
        <script src="/scripts/sapphire/services.js"></script>
        <script src="/scripts/sapphire/controllers.js"></script>
        <script src="/scripts/user/services.js"></script>
        <script src="/scripts/user/controllers.js"></script>
        
        <!-- StyleSheets -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
        <link href="/stylesheets/index.css" rel="stylesheet">
        
        <meta name="keywords" content="goldens, 
        retrievers, 
        golden retrievers, 
        puppies, 
        puppy, 
        for sale, 
        breeder, 
        Boston, MA, 
        Massachusetts, 
        Eastern,
        Southern,
        South Eastern, 
        Cape Cod">
        
    </head>

    <body ng-controller="GoldenController">
        <message></message>
        <div class="view">
            <header></header>
            <div class="content" ui-view></div>
            <footer></footer>
        </div>
    </body>
</html>