<!DOCTYPE html>
<html ng-app="goldenApp">
    <head>
        <title>Sapphire Goldens</title>
        
        <!-- Scripts -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/bower_components/ng-notify/dist/ng-notify.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!--Individual Scripts for Each Module-->
        
        <!--Shell Layout Scripts-->
        <script src="/scripts/app.module.js"></script>
        <script src="/scripts/layout/controllers.js"></script>
        <script src="/scripts/layout/directives.js"></script>
        
        <!--Agreement Scripts-->
        <script src="/scripts/agreement/agreement.controllers.js"></script>
        
        <!--Application Scripts-->
        <script src="/scripts/application/application.controllers.js"></script>
        <script src="/scripts/application/application.services.js"></script>

        <!--Golden Scripts-->
        <script src="/scripts/goldens/goldens.controllers.js"></script>
        <script src="/scripts/goldens/goldens.services.js"></script>
        
        <!--Sapphire Scripts-->
        <script src="/scripts/sapphire/sapphire.controllers.js"></script>
        <script src="/scripts/sapphire/sapphire.services.js"></script>
        
        <!--Upload Scripts-->
        <script src="/scripts/upload/upload.directive.js"></script>
        <script src="/scripts/upload/upload.services.js"></script>
        <script src="/scripts/upload/uploadInput.directive.js"></script>
        
        <!--User Scripts-->
        <script src="/scripts/user/user.controllers.js"></script>
        <script src="/scripts/user/user.services.js"></script>
        
        <!-- StyleSheets -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="/bower_components/ng-notify/dist/ng-notify.min.css" rel="stylesheet">
        <link href="/stylesheets/index.css" rel="stylesheet">
        
        <!--Favicon-->
        <link rel="shortcut icon" href="/public/images/favicon.jpg" />
        
        <meta name="keywords" content="goldens, retrievers, golden retrievers, puppies, puppy, for sale, breeder, Boston, MA, Massachusetts, Eastern, Southern, South Eastern, Cape Cod">
        
    </head>

    <body ng-controller="appController as app">
        <div class="view">
            <header></header>
            <div class="content" ui-view>
            </div>
            <footer></footer>
        </div>
    </body>
</html>