<div class="panel panel-body">
    
    <h2>Agreement</h2>
    <hr>
    
    <div class="col-md-6">
        <p>Sapphire Golden Retrievers is dedicated to producing a quality line of Golden Retrievers. All of our litters come from sires and dams that have their hips registered with the Orthopedic Foundation for Animals (OFA) and are free from genetic hip disease. Their eyes are certified by an ophthalmologist, clearing them of any inherited eye disease. They have their hearts certified by a cardiologist, screening for any abnormalities and cleared of cardiovascular disease. We only breed dogs with all of these certifications. Our dogs are free of allergies, epilepsy, and of course must display the true Golden Retriever temperament.</p>
        <p>Our litters are born in our home and begin socializing with our family at an early age until they come into your home. All of the Sapphire Golden Retriever puppies have complete and thorough examinations by our veterinarian at the age of 6 weeks old and are guaranteed to be in good, clean state of health on departure from our home. We do not sell our dogs for breeding purposes. Pets are to be spayed/neutered before reaching reproductive maturity. </p>
        <p>During the life of this dog if for any reason you can not keep it, the breeder has first right of refusal.</p>
    </div>
    
    <div class="col-md-6">
        <p><strong>Guarantee:</strong> It is understood that at the time of the sale, this dog is not for show or breeding, but is a representative of its breed, structurally and tempermentally suited as a companion and/or obedience dog. This puppy is guaranteed for 72 hours against any abnormal health irregularities. It is recommended that the buyer have this puppy examined by a veterinarian during this time frame. A full refund will be given for any puppy found to be unhealthy during the first 72 hours provided that he/she is returned in the same condition as he/she was at the time of sale, along with all paperwork and a letter from your veterinarian stating why the puppy is found to be unhealthy. No other guarantees are given or implied.</p>
        <p>The price for this puppy is $_________. Please sign and return this form with a $100.00 deposit (payable to Linda Kauranen). The deposits are entered in our file in the order that they arrive. The puppies go home at 8 weeks of age or when we are satisfied with our evaluation of them. Only in the event that no puppies are available will your deposit be refunded. Final payment, due on the day you pick up your puppy, should be and will only be accepted in the form of cash, money order, or a certified bank check payable to Linda Kauranen (no personal checks will be accepted).</p>
    </div>
    
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <h3>Agreement Form</h3>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Special Provisions of this sale">
        </div>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Sire">
            <input type="text" class="form-group" placeholder="AKC#">
        </div>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Dam">
            <input type="text" class="form-group" placeholder="AKC#">
        </div>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Date whelped">
        </div>
        <p>The buyer had read and understood the terms of this Pet Agreement/Contact and agrees to those terms</p>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Buyer">
            <input type="text" class="form-group" placeholder="Date">
        </div>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Address">
            <input type="text" class="form-group" placeholder="City">
            <input type="text" class="form-group" placeholder="State">
            <input type="text" class="form-group" placeholder="Zip">
        </div>
        <div class="form-group">
            <input type="text" class="form-group" placeholder="Telephone">
            <input type="text" class="form-group" placeholder="Email">
        </div>
            <div class="form-group">
            <input type="text" class="form-group" placeholder="Breeder">
            <input type="text" class="form-group" placeholder="Date">
        </div>
        <button class="btn btn-primary">Submit</button>
    </div>

</div>