<div class="panel panel-body">
    <h2>Application</h2>
    <div class="col-md-12">
        <p>If an application is accepted, a deposit is necessay to put you on the list for a puppy!</p>
        <p>Please answer the following questions the best you can, so we can better understand your family.</p>
        <hr>
        <div class="col-md-8 col-md-offset-2">
            <h3>Contact Information</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Name"></type>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" class="form-control" value="2016-01-01"></type>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="address" id="address" class="form-control" placeholder="Address"></type>
                </div>
                <div class="form-group">
                    <label for="tel">Telephone</label>
                    <input type="tel" id="tel" class="form-control" placeholder="Telephone Number"></type>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-2">
        <h3>Questionnaire</h3>
        <ol>
            <div class="form-group">
            <label><li>Have you been lucky enough to have a golden retrieve in the past?</li></label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type ="radio" name="past"> Yes 
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="past"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label><li>Do you have a fenced in yard?</li></label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type ="radio" name="fence"> Yes 
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fence"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="q3"><li>Do you have children in the home under 8 years old?</li></label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type ="radio" name="child"> Yes 
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="child"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label><li>Do you have other pets?</li></label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type ="radio" name="pets"> Yes 
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="pets"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="q5"><li>Are you prepared to care for a puppy physically, emotionally, and financially?</li></label>
                <textarea id="q5" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="q6"><li>What will you do with your new puppy dog while you are at work?</li></label>
                <textarea id="q6" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label><li>Would you prefer a male or female puppy?</li>
                <label class="radio-inline">
                    <input type ="radio" name="gender"> Male 
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"> Female
                </label>
            </div>
        </ol>
        </div>
    </div>
</div>
