<div class="col-md-6 panel panel-body col-md-offset-3">
    <h2>Application</h2>
    <hr>
    <p>If an application is accepted, a deposit is necessay to put you on the list for a puppy!</p>
    <p>Please answer the following questions the best you can, so we can better understand your family.</p>
    <ol>
        <li>Have you been lucky enough to have a golden retrieve in the past?</li>
        <li>Do you have a fenced in yard?</li>
        <li>Do you have children in the home under 8 years old?</li>
        <li>Do you have other pets?</li>
        <li>Are you prepared to care forfor a puppy physically, emotionally, and financially?</li>
        <li>What will you do with your new puppy dog while you are at work?</li>
        <li>Would you prefer a male or female puppy?</li>
    </ol>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2">Name</label>
            <div class="col-md-10">
                <input type="text" id="name" class="form-control" placeholder="Name"></type>
            </div>
            <label for="date" class="col-sm-2">Date</label>
            <div class="col-md-10">
                <input type="date" id="date" class="form-control" value="01012016"></type>
            </div>
            <label for="address" class="col-sm-2">Address</label>
            <div class="col-md-10">
                <input type="address" id="address" class="form-control" placeholder="Address"></type>
            </div>
            <label for="tel" class="col-sm-2">Telephone</label>
            <div class="col-md-10">
                <input type="tel" id="tel" class="form-control" placeholder="Telephone Number"></type>
            </div>
        </div>
    </form>
</div>
