<div>
    <div class="container text-center" id="footer">
        <div class="col-md-4 col-xs-6">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h4>Follow or Email Us!</h4>
                <div class="col-xs-6 col-md-12">
                    <div class="hidden-xs hidden-sm col-md-8">
                        <a href="https://www.facebook.com/SapphireGoldens">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href="https://www.facebook.com/SapphireGoldens"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-12">
                    <div class="hidden-xs hidden-sm col-md-8">
                        Email
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <a href=mailto:"SapphireGoldens@comcast.net"><i class="fa fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h4>Contact Us!</h4>
                <p>Sapphire Goldens</p>
                <p>Linda Kauranen</p>
                <p>508-946-4169</p>
            </div>
            
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="col-md-10 col-md-offset-1">
                <h4>Helpful Links</h4>
                <p><a href="https://www.grca.org/">Golden Retrievers Club of America</a></p>
                <p><a href="http://yankeegrc.azurewebsites.net/">Yankee Golden Retreiver Club</a></p>
                <p><a href="http://www.akc.org/">American Kennel Club</a></p>
            </div>
        </div>
    </div>
</div>
