<nav class="nav navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="https://www.facebook.com/SapphireGoldens"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
            <li><a href=mailto:"SapphireGoldens@comcast.net"><i class="fa fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        <span class="navbar-text pull-right collapse navbar-collapse">
            Developed by Travis Tatro
        </span>
        <span class="navbar-text pull-left navbar-collapsed">
            Developed by Travis Tatro
        </span>
    </div>
</nav>