<div class="modal fade" id="{{modal.type._id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <a class="link" ng-click="modal.prevGolden(goldens)" ng-show="modal.single && modal.goldens.length > 1">Previous Golden</a>
          </div>
          <div class="col-xs-8">
            <h4 class="modal-title">{{modal.type.type}}</h4>
          </div>
          <div class="col-xs-2">
            <a class="link" ng-click="modal.nextGolden(goldens)" ng-show="modal.single && modal.goldens.length > 1">Next Golden</a>
          </div>
        </div>
      </div>
      <div class="modal-body">
      	<div class="panel-body">
			<multiple-goldens ng-show="modal.multi"></multiple-goldens>
			<single-golden ng-show="modal.single"></single-golden>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-show="modal.single" class="btn btn-default" ng-click="modal.switch()">Back</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>