<div ng-show="message || warning" class="container">
    <div class="panel panel-warning" ng-show="message">
        <div class="panel-heading">
            <h4 class="panel-title">Message</h4>
        </div>
        <div class="panel-body">{{message}}</div>
    </div>
    <div class="panel panel-danger" ng-show="warning">
        <div class="panel-heading">
            <h4 class="panel-title">Warning!!!</h4>
        </div>
        <div class="panel-body">{{warning}}</div>
    </div>
</div>