<div class="container-fluid">
    <div class="panel panel-body">
        <h1>Admin Dashboard</h1>
        
        <nav aria-label="Page navigation">
            <ul class="pager">
                <li><a ui-sref="sapphireShow">About</a></li>
                <li><a ui-sref="applicationIndex">Applications</a></li>
                <li><a ui-sref="goldensDashboardIndex">Goldens</a></li>
            </ul>
        </nav>
        
        <div class="panel panel-body">
            <ui-view></ui-view>
        </div>
    </div>
</div>