<div class="container">
    <div class="content-panel">
        <div class="row">
            <div class="col-md-7">
                <img class="img img-responsive" ng-src="/public/images/sapphiremain.jpg">
                <div class="col-md-10 col-md-offset-1">
                    <h4>Quality Golden Retrievers from our home to yours</h4>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img img-responsive" ng-src="/public/images/sapphire_main1.jpg">
            </div>
        </div>
    </div>
    <div class="content-panel col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <img class="img img-responsive" ng-src="/public/images/sapphire_main3.jpg">
            </div>
        </div>
    </div>
</div>