<div class="container-fluid">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="img img-responsive" ng-src="/public/images/sapphiremain.jpg">
        </div>
        <div class="col-md-12">
        <h4>Quality Golden Retrievers from our home to yours</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    </div>
</div>
</div>
