<div class="container">
    <div class="content-panel">
        <div class="row">
            <div class="col-md-7">
                <img class="img img-responsive" ng-src="{{homeVm.data.landingBrand}}">
                <div class="text-center">
                    <h4>{{homeVm.data.landingMotto}}</h4>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img img-responsive" ng-src="{{homeVm.data.landingPhoto}}">
            </div>
        </div>
    </div>
</div>