body {
    font-family: 'Roboto Slab', serif;
    letter-spacing: .2rem;
    font-weight: 600;
}

.navbar-default{
    background: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover{
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 13px;
}

.main-image{
    margin: auto;
}

.club{
    max-width: 200px;
    margin: auto;
}

#main-content{
    margin-top: 25px;
    text-align: center;
}