/*BLUE: #010080*/
/*GOLD: #eac75b*/
body {
    font-family: 'Open Sans', serif;
    letter-spacing: .2rem;
}

html,
body {
   margin:40px 0 0;
   padding:0;
   min-height:100%;
   color: #eac75b;
}

.white {
    background: white;
}

.club{
    float: right;
    max-width: 250px
}

.content{
    min-height: 100%;
    margin-top: 25px;
}

.fa {
    color: #eac75b;
}

.fa:hover{
    color: white;
}

.breadcrumb{
    background: #010080;
    color: #eac75b;
}

.breadcrumb a{
    color: #eac75b
}

.img-responsive{
    padding: 0;
    margin: auto;
}

.navbar-default{
    background: #010080;
    -webkit-box-shadow: 2px 1px 24px 2px rgba(0,0,0,1);
    -moz-box-shadow: 2px 1px 24px 2px rgba(0,0,0,1);
    box-shadow: 2px 1px 24px 2px rgba(0,0,0,1);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand, a{
    color: #eac75b;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover{
    border-bottom: 2px solid white;
    color: white;
    padding-bottom: 13px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
    color: #eac75b;
    background: #010080;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover{
    color: white;
    background: #010080;
}

.navbar-nav>li>.dropdown-menu{
    background: #010080;
}

.dropdown-menu>li>a{
    color: #eac75b;
    background: #010080;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #010080;
}

.navbar-default .navbar-toggle {
    border-color: #eac75b;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #eac75b;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #eac75b;
}

a:hover {
    color: white;
}

.navbar-default .navbar-text{
    color: #eac75b;
}

.goldens-container{
    text-align: center;
}

.content-panel{
    background: #010080;
    border: 0;
    padding: 0;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 1px 12px 2px rgba(0,0,0,.90);
    -moz-box-shadow: 0px 1px 12px 2px rgba(0,0,0,.90);
    box-shadow: 0px 1px 12px 2px rgba(0,0,0,.90);
}

.story{
    text-indent: 30px;
}

#footer{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    background: #010080;
}

.golden-image{
    max-height: 200px;
}

.panel-default>.panel-heading {
    color: #eac75b;
    background-color: #010080;
    border-color: #eac75b;
}

.panel-body{
    /*padding: 0;*/
    border: none;
    background-color: #010080;
}

.golden-data {
    border-top: 2px solid #eac75b;
}

.panel-footer{
    background-color: #010080;
    padding: 0;
}

.btn-primary{
    background-color: #010080;
    color: #eac75b;
    border: 1px solid #eac75b;
}

.btn-primary:hover{
    background-color: #eac75b;
    color: #010080;
    border: 1px solid #010080;
}

#search{
    margin-top: 10px;
}