body {
    font-family: 'Lato', serif;
    letter-spacing: .2rem;
    font-weight: 600;
    background: url("https://hd.unsplash.com/photo-1422565096762-bdb997a56a84");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    text-indent: 35px;
}

.navbar-default{
    background: rgba(256,256,256,0.50);
    border-bottom: 2px solid blue;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
    color: black;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover{
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 13px;
}

.img-responsive{
    padding: 0;
    margin: auto;
}

.main-image{
    margin: auto;
}

.club{
    max-width: 200px;
    margin: auto;
    padding: 0;
    margin-top: 10px;
}

.fa {
    color: black;
}

.fa:hover{
    color: blue;
}

.view{
    color: black;
}

.grid-image{
    width: 100% !important;
    height: auto !important;
}

.jumbotron{
    margin-top: 10%;
    text-align: center;
    background: rgba(256,256,256,0.50);
}

#contact{
    font-weight: 500;
}

#image-grid{
    column-count: 5;
    column-gap: 0px;  
}



#about{
    text-align: center;
}

#footer{
    margin-top: 25px;
    background: rgba(256,256,256, 0.50);
    border-top: 2px solid blue;
}

#main-content{
    text-align: center;
}

#home{
    height: 100%;
}