<div class="col-md-8 col-md-offset-2">
    <h3 ng-if="new">New Agreement Form</h3>
    <h3 ng-if="edit">Update Agreement Form</h3>
    <hr>
    <p ng-if="new">If you agree to the following, please fill out this form to the best of your knowledge</p>
    <form class="form-horizontal" name="agree">
        <div class="form-group container-fluid">
            <label>Special Provisions for This Sale</label>
            <input ng-model="agreement.specialProvision" type="text" class="form-control" placeholder="Special Provisions">
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Sire</label>
                <input ng-model="agreement.sire" type="text" class="form-control" placeholder="Sire">
            </div>
            <div class="col-sm-6">
                <label>AKC #</label>
                <input ng-model="agreement.sireAkcNo" type="text" class="form-control" placeholder="AKC#">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Dam</label>
                <input ng-model="agreement.dam" type="text" class="form-control" placeholder="Dam">
            </div>
            <div class="col-sm-6">
                <label>AKC #</label>
                <input ng-model="agreement.damAkcNo" type="text" class="form-control" placeholder="AKC#">
            </div>
        </div>
        <div class="form-group container-fluid">
            <label>Date Whelped</label>
            <input ng-model="agreement.dateWhelped" ng-if="agreement.dateWhelped" type="date" class="form-control" placeholder="1970-01-01">
        </div>
        <p>The buyer has read and understood the terms of this Pet Agreement/Contract and agrees to those terms</p>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Buyer</label>
                <input ng-model="agreement.buyer" name="buyer" ng-required="true" type="text" class="form-control" placeholder="Buyer">
            </div>
            <div class="col-sm-6">
                <label>Signed Date</label>
                <input ng-model="agreement.buyerDate" ng-if="agreement.buyerDate" type="date" class="form-control" placeholder="Date">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label>Address</label>
                <input ng-model="agreement.address" name="address" ng-required="true" type="text" class="form-control" placeholder="Address">    
            </div>
            <div class="col-sm-3">
                <label>City</label>
                <input ng-model="agreement.city" name="city" ng-required="true" type="text" class="form-control" placeholder="City">
            </div>
            <div class="col-sm-3">
                <label>State</label>
                <input ng-model="agreement.state" name="state" ng-required="true" type="text" class="form-control" placeholder="State">
            </div>
            <div class="col-sm-3">
                <label>ZIP</label>
                <input ng-model="agreement.zip" name="zip" ng-required="true" type="text" class="form-control" placeholder="Zip">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Telephone</label>
                <input ng-model="agreement.phone" name="phone" ng-required="true" type="text" class="form-control" placeholder="Telephone">
            </div>
            <div class="col-sm-6">
                <label>Email</label>
                <input ng-model="agreement.email" name="email" ng-required="true" type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Breeder</label>
                <input ng-model="agreement.breeder" type="text" class="form-control" placeholder="Breeder">
            </div>
            <div class="col-sm-6">
                <label>Signed Date</label>
                <input ng-model="agreement.breederDate" ng-if="agreement.breederDate" type="date" class="form-control" placeholder="Date">
            </div>
        </div>
        <div ng-if="new" class="checkbox">
            <label>
                <input type="checkbox" ng-model="terms" name="terms" ng-required="new"> I agree to the terms and conditions documented here.
            </label>
        </div>
        <div ng-if="new" class="form-group">
            <input type="submit"  ng-click="saveAgreement(agreement)" class="btn btn-primary">
        </div>
        <div ng-if="edit" class="form-group">
            <input type="submit" ng-click="updateAgreement(agreement)" class="btn btn-primary">
        </div>
    </form>
</div>