<div class="container" id="contact">
    
    <div class="panel panel-body">
        <div class="row">
        <div class="col-md-8">
            <div class="col-md-8 col-md-offset-2">
                <h1>Contact</h1>
                <p>Linda Kauranen</p>
                <p>508-946-4169</p>
                <p>SapphireGoldens@comcast.net</p>
            </div>
        </div>
            <div class="col-md-4 pull-right">
                <img ng-src="/public/images/sapphire_contact.jpg" class="img img-responsive">
            </div>
        </div>
    </div>
    
    <!--<ol class="breadcrumb">-->
    <!--    <li><a ui-sref="agreement">Agreement</a></li>-->
    <!--    <li><a ui-sref="application">Application</a></li>-->
    <!--    <span class="col-md-offset-1">By submitting the agreement or application form, an automated email will be sent.</span>-->
    <!--</ol>-->
    
    <ui-view></ui-view>
</div>