<div class="container" id="contact">
    
    <div class="content-panel">
        <div class="row">
        <div class="col-xs-8 col-md-9">
            <div class="container">
                <div class="col-md-6 col-md-offset-2">
                    <h1>Contact</h1>
                    <p>Linda Kauranen</p>
                    <p>508-946-4169</p>
                    <p>SapphireGoldens@comcast.net</p>
                </div>
            </div>
        </div>
            <div class="col-xs-4 col-md-3">
                <img ng-src="/public/images/sapphire_contact.jpg" class="img img-responsive pull-right">
            </div>
        </div>
    </div>

    
    <ui-view></ui-view>
</div>