<div class="container">
    <h1>Contact</h1>
    <p>Name: Linda Kauranen</p>
    <p>Phone: 508-946-4169</p>
    <p>Email: SapphireGoldens@comcast.net</p>
    
    <div class="row">
        <pet-agreement-contract></pet-agreement-contract>
    </div>
    <div class="row">
        <pet-application></pet-application>
    </div>
    
</div>