<div class="container">
    <div class="container panel panel-body">
        <h1>Our Goldens</h1>
    </div>
        
    <div class="container panel panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Mothers</h3>
                <img class="img img-responsive thumbnail pull-left" ng-src="http://3.bp.blogspot.com/_mGud0RxMp80/TQEbroR_bPI/AAAAAAAAEQM/cTP4n9nIeQc/s1600/CIMG2800.jpg">
            </div>
            <div class="col-md-6 col-md-offset-3">
                <h3>Fathers</h3>
                <img class="img img-responsive thumbnail pull-left" ng-src="http://www.yourpurebredpuppy.com/dogbreeds/photos-EFGH/goldenretrieversf4.jpg">
            </div>
            <div class="col-md-6 col-md-offset-3">
                <h3>Litters</h3>
                <img class="img img-responsive thumbnail pull-left" ng-src="https://cdn.totallygoldens.com/wp-content/uploads/2014/06/Where-to-get-a-golden-retriever-puppy.jpg">
            </div>
        </div>
    </div>
</div>