<header></header>
<div class="container-fluid" id="home">
    <div class="jumbotron">
        <h1>Sapphire Goldens</h1>
        <p>Quality Golden Retrievers from our home to yours</p>
        <a href="#/about" class="btn btn-primary">Learn more about our goldens!</a>
    </div>
</div>
<footer></footer>