<ol ng-show="user" class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="applicationNew">Application</a></li>
    <li class="breadcrumb-item"><a ui-sref="applicationIndex">Index</a></li>
</ol>

<div class="content-panel">
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>
</div>