<div class="content-panel">
    <div class="container-fluid">
        <p>If you would like to enter a new application please <a ui-sref="applicationNew" class="center-text">click here!</a></p>
        <ui-view></ui-view>
    </div>
</div>