<div class="col-md-8 col-md-offset-2">
    <h2 ng-if="new">New Application</h2>
    <h2 ng-if="edit">Edit Application</h2>
    <hr>
    <form class="form-horizontal" name="appl">
        <div class="col-md-12">
            <p>If an application is accepted, a deposit is necessay to put you on the list for a puppy!</p>
            <p>Please answer the following questions the best you can, so we can better understand your family.</p>
            <div>
                <h3>Contact Information</h3>
                
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Name</label>
                        <input ng-model="application.name" type="text" ng-required="true" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-sm-4">
                        <label>Date</label>
                        <input ng-model="application.date" type="date" ng-required="true" class="form-control" placeholder="Date" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="email">Email</label>
                        <input ng-model="application.email" type="email" id="email" ng-required="true" class="form-control" placeholder="test@test.com"></type>
                    </div>
                    <div class="col-sm-6">
                        <label for="tel">Telephone</label>
                        <input ng-model="application.telephone" type="tel" id="tel" ng-required="true" class="form-control" placeholder="Telephone Number"></type>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label>Address</label>
                        <input ng-model="application.address" type="text" ng-required="true" class="form-control" placeholder="Address">    
                    </div>
                    <div class="col-sm-3">
                        <label>City</label>
                        <input ng-model="application.city" type="text" ng-required="true" class="form-control" placeholder="City">
                    </div>
                    <div class="col-sm-2">
                        <label>State</label>
                        <select ng-model="application.state" type="text" ng-required="true" class="form-control" placeholder="State">
                            <option value="">State</option>
                            <option ng-repeat="state in states">{{state}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Postal Code</label>
                        <input ng-model="application.zip" type="text" ng-required="true" class="form-control" placeholder="Zip">
                    </div>
                </div>
            </div>
            <div>
            <h3>Questionnaire</h3>
            <ol>
                <div class="form-group">
                    <label for="q1"><li>Have you been lucky enough to have a golden retrieve in the past?</li></label>
                    <textarea ng-model="application.prevOwner" id="q1" ng-required="true" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q2"><li>Do you have a fenced in yard?</li></label>
                    <textarea ng-model="application.yardFenced" ng-required="true" id="q2" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q3"><li>Do you have children in the home under 8 years old?</li></label>
                    <textarea ng-model="application.children" ng-required="true" id="q3" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q4"><li>Do you have other pets?</li></label>
                    <textarea ng-model="application.otherPets" ng-required="true" id="q4" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q5"><li>Are you prepared to care for a puppy physically, emotionally, and financially?</li></label>
                    <textarea ng-model="application.prepared" ng-required="true" id="q5" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q6"><li>What will you do with your new puppy dog while you are at work?</li></label>
                    <textarea ng-model="application.daycare" ng-required="true" id="q6" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label for="q7"><li>Would you prefer a male or female puppy?</li></label>
                    <textarea ng-model="application.gender" ng-required="true" id="q7" class="form-control" rows="2"></textarea>
                </div>
                <button ng-if="new" ng-click="saveApplication(application)" class="btn btn-primary">Submit</button>
                <button ng-if="edit" ng-click="updateApplication(application)" class="btn btn-primary">Update</button>
            </ol>
            </div>
        </div>
    </form>
</div>
