<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Entered</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tr ng-repeat="application in applications" ui-sref="applicationDashboardShow({id: application._id})">
            <td>{{application.name}}</td>
            <td>{{application.dateCreated | date:'MM-dd-yyyy'}}</td>
            <td>{{application.telephone}}</td>
            <td>{{application.email}}</td>
        </tr>
    </table>
</div>