<p>All Applications</p>
<ul class="list-group">
    <a ui-sref="applicationShow({id: application._id})" class="list-group-item" ng-repeat="application in applications">
        {{application.name}}
    </a>
</ul>