<div class="panel panel-body">
    <h4>View Application</h4>
    <span ng-show="user" class="pull-right">
        <a ui-sref="applicationEdit({id: application._id})" class="btn btn-primary btn-xs">Edit</a>
        <a ng-click="deleteApplication()" class="btn btn-primary btn-xs">Delete</a>
    </span>
    <div class="col-md-12">
        <p>If an application is accepted, a deposit is necessay to put you on the list for a puppy!</p>
        <p>Please answer the following questions the best you can, so we can better understand your family.</p>
        <hr>
        <div class="col-md-8 col-md-offset-2">
            <h3>Contact Information</h3>
            <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <label>Name</label>
                    <input ng-model="application.name" type="text" class="form-control" readonly>
                </div>
                <div class="col-sm-6">
                    <label>Date</label>
                    <input ng-model="application.date" type="date" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label>Address</label>
                    <input ng-model="application.address" type="text" class="form-control" readonly>    
                </div>
                <div class="col-sm-3">
                    <label>City</label>
                    <input ng-model="application.city" type="text" class="form-control" readonly>
                </div>
                <div class="col-sm-3">
                    <label>State</label>
                    <input ng-model="application.state" type="text" class="form-control" readonly>
                </div>
                <div class="col-sm-3">
                    <label>ZIP</label>
                    <input ng-model="application.zip" type="text" class="form-control" readonly>
                </div>
            </div>
                <div class="form-group container-fluid">
                    <label for="tel">Telephone</label>
                    <input ng-model="application.telephone" type="tel" id="tel" class="form-control" readonly></type>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-2">
        <h3>Questionnaire</h3>
        <ol>
        <div class="form-group">
                    <label for="q1"><li>Have you been lucky enough to have a golden retrieve in the past?</li></label>
                    <textarea ng-model="application.prevOwner" id="q1" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q2"><li>Do you have a fenced in yard?</li></label>
                    <textarea ng-model="application.yardFenced" id="q2" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q3"><li>Do you have children in the home under 8 years old?</li></label>
                    <textarea ng-model="application.children" id="q3" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q4"><li>Do you have other pets?</li></label>
                    <textarea ng-model="application.otherPets" id="q4" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q5"><li>Are you prepared to care for a puppy physically, emotionally, and financially?</li></label>
                    <textarea ng-model="application.prepared" id="q5" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q6"><li>What will you do with your new puppy dog while you are at work?</li></label>
                    <textarea ng-model="application.daycare" id="q6" class="form-control" rows="3" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="q7"><li>Would you prefer a male or female puppy?</li></label>
                    <textarea ng-model="application.gender" id="q7" class="form-control" rows="3" readonly></textarea>
                </div>
        </ol>
        </div>
    </div>
</div>
