<h1>Index</h1>



<ol class="breadcrumb">
    <li><a ui-sref="sapphireShow({id: sapphire._id})">Show</a></li>
    <li><a ui-sref="sapphireEdit({id: sapphire._id})">Edit</a></li>
</ol>

<ui-view></ui-view>